<html>
<head>
    <title>This is the home page</title>
</head>
<body>
{% include 'header.html' %}

<h1>This is HACKOGI</h1>
<div>
    <h2>Active Hackathons</h2>
    {% for hackathon in active_hackathons %}
    <h3>{{ hackathon.title }}</h3>
    <p>{{ hackathon.overview }}</p>
    {% endfor %}
</div>

<hr/>

<div>
    <h2>Upcaming Hackathons</h2>
    {% for hackathon in upcame_hackathons %}
    <h3>{{ hackathon.title }}</h3>
    <p>{{ hackathon.overview }}</p>
    {% endfor %}
</div>

<hr>

<div>
    <h2>Past Hackathons</h2>
    {% for hackathon in past_hackathons %}
    <h3>{{ hackathon.title }}</h3>
    <p>{{ hackathon.overview }}</p>
    {% endfor %}
</div>
</body>
</html>
